/* =============================================================================================================== */
/* HEADER */
/* ==> PROFILE CARD <== */
.profile-card {
  padding: 5px 3px;
  width: 27.2rem;
  background: radial-gradient(
    ellipse at center,
    #db4d35 0%,
    #1e76b0 60%,
    #12387d 100%
  );
  box-shadow: 17px 5px 17px 5px rgba(40, 40, 40, 0.8);
}
.profile-img {
  max-width: 242px !important;
}
.bg-profile {
  background: linear-gradient(to bottom, #0d164a 0%, #1f60a1 60%, #2782c2 100%);
  text-align: center;
}
.header-format {
  display: inline-flex;
}
.judul {
  display: block;
  padding: 20px 3rem;
  padding-left: 5.5rem;
}

/* =============================================================================================================== */
/* ==> FONT <== */
.font-nama {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #fafafa;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 30px;
  text-shadow: 5px 3px 7px #000000;
}
.font-ket {
  font-size: 25px;
  margin: 5px 10px;
  color: #fafafa;
  text-shadow: 5px 3px 7px #000000;
}
.font-slogan {
  margin-top: 3rem;
  font-size: 30px;
  color: #fafafa;
  text-shadow: 5px 3px 7px #000000;
}

.font-contact {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  text-shadow: 5px 3px 7px #000000;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.font-passion-header {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  text-shadow: 5px 3px 7px #000000;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  padding-top: 5.5rem;
  margin-bottom: 2rem;
}

.font-language-header {
  font-family: Georgia, serif;
  color: white;
  text-align: center;
  text-shadow: 5px 3px 7px #000000;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  padding-top: 4.5rem;
  margin-bottom: 2rem;
}

.font-logo {
  font-family: "arial";
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  text-shadow: 5px 3px 7px #000000;
}

.font-skill {
  font-family: "arial";
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  text-shadow: 5px 3px 7px #000000;
}

.font-language {
  font-family: "arial";
  color: white;
  text-align: center;
  margin: 0px 12px;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
  text-shadow: 5px 3px 7px #000000;
  text-decoration: none solid rgb(68, 68, 68);
}

/* ===================================================================================================================================== */
/* MAINCONTENT */
.content-flex {
  display: flex !important;
}

.col-md-4 {
  padding: 0 !important;
}

/* ==> CONTACT BOX <== */
.contact-box {
  background: linear-gradient(to bottom, #0d164a 0%, #1f60a1 60%, #2782c2 100%);
  box-shadow: 17px 5px 17px 5px rgba(40, 40, 40, 0.8);
}
.contact-img {
  max-width: 40px;
  margin-left: 30px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.phone-img {
  max-width: 40px;
  margin-left: 30px;
  margin-right: 12px;
}

.email-img {
  max-width: 51px;
  margin-left: 23px;
  margin-right: 7px;
  margin-bottom: 5px;
}

.github-img {
  max-width: 29px;
  margin-left: 34px;
  margin-right: 17px;
  margin-bottom: 12px;
}

/* ==> SKILL BOX <== */
.skill-box {
  text-align: center;
  margin-top: 1rem;
}
.skill-img {
  max-width: 138px;
  margin-left: 3px;
  margin-right: 7px;
  margin-bottom: 12px;
  display: inline-block;
}

.skill2-img {
  max-width: 138px;
  margin-left: 3px;
  margin-top: 4px;
  margin-right: 7px;
  margin-bottom: 12px;
  display: inline-block;
}

/* ==> LANGUAGE BOX <== */
.language-box {
  text-align: center;
  display: inline-block;
  padding-bottom: 2rem !important;
}
.language-icon {
  margin-top: 20px;
}
.language-img {
  max-width: 60px;
  margin: 0 34.5px;
}
.language-display {
  display: inline-block !important;
  margin: 0px 23px;
}

/* ==> PASSION BOX <== */
.passion-box {
  text-align: center;
  display: inline-block;
  padding-bottom: 2rem !important;
}
.passion-icon {
  margin-top: 20px;
}
.passion-img {
  max-width: 55px;
  margin: 0 32.5px;
}
.passionGame-img {
  max-width: 55px;
  margin: 0 32.5px;
  margin-left: 60px;
}

/* =============================================================================================================== */
/* ==> ABOUT ME <== */
/* HEADER */
.about-box {
  padding: 0.5rem 2rem !important;
  margin: 0 1rem;
  background: #fafafa !important;
}
.aboutme-header {
  background: #133269;
  display: inline-block;
  padding: 5px 19px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 100px 0px 0px 100px;
}

.education-header {
  background: #133269;
  display: inline-block;
  padding: 5px 11.5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 100px 0px 0px 100px;
}

.experience-header {
  background: #133269;
  display: inline-block;
  padding: 5px 6.5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 100px 0px 0px 100px;
}
.project-header {
  background: #133269;
  display: inline-block;
  padding: 5px 28.5px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 100px 0px 0px 100px;
}
/* =============================================================================================================== */
/* ==> FONT <== */
.aboutme-font {
  margin: 8px;
  font-weight: 700 !important;
  font-size: 18px !important;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #fafafa;
  font-family: Georgia, serif;
}
.aboutContent-font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: black;
  font-weight: 600;
  text-align: justify;
}

.projectList-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-align: right !important;
}

.arrow {
  display: inline-block;
  transform: rotate(180deg);
}
